.containerEstoque{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxEstoque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.produtosTypes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background-color: #14a569;
    color: white;
    padding: 3px;
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.produtosTypes h2{
    font-size: 15pt;
}

.produtosTypes img{
    width: 200px;
}

.produtosTypes ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.produtosTypes ul li{
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 12px;
}

.produtosTypes ul li:hover{
    cursor: pointer;
    border-radius: 22px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

table{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    color: #14a569;
    border-collapse: separate;
    border-spacing: 0 10px;
}

tbody{
    background-color: rgb(235, 235, 235);
}

tbody td{
    text-align: center;
    /* max-width: 70px; */
    vertical-align: middle;
}

tbody tr td img{
    width: 140px;
}

tbody tr {
    position: relative;
}

.btnEditar{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #556402;
    color: #776e20;
    background-color: #ecfa6d;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}

.btnExcluir{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    background-color: #f5c4c4;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}

.btnExcluir:hover, .btnEditar:hover{
    transform: scale(0.9);
}

.estoqueTypeItem{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
    border-radius: 11px;
}

.estoqueTypeItem:hover{
    background-color: #0c7e4f;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.estoqueTypeItem img{
    width: 35px;
}

.modalExcluir{
    background-color: rgba(39, 37, 37, 0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxModal{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(221, 3, 3);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modalTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 13pt;
    color: black;
    font-weight: 700;
}

.modalTop img{
    width: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.modalTop img:hover{
    transform: scale(1.15);
}

.btnsModal{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btnsModal button{
    width: 150px;
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btnNaoModal{
    background-color: #e7e7e7a4;
}

.btnExcluirModal{
    background-color: rgb(238, 32, 32);
    color: white;
}

.btnNaoModal:hover{
    transform: scale(0.96);
    background-color: #dbdbdb;
}

.btnExcluirModal:hover{
    transform: scale(0.96);
    background-color: rgb(182, 24, 24);
}

.modalEdit{
    background-color: rgba(39, 37, 37, 0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxModalEdit{
    position: relative;
}

.boxModalEdit form{
    margin-top: 1rem;
    background-color: #f1fff9;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: left;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.boxModalEdit form input{
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.boxModalEdit form select{
    width: 300px;
}

.boxModalEdit form button{
    margin-top: 1rem;
    padding: 5px;
    border-radius: 8px;
    background: #14a569;
    color: white;
    width: 60%;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease;
    cursor: pointer;
}

.boxModalEdit form button:hover{
    background-color: #12945e;
}

.boxCloseEdit{
    position: absolute;
    top: -1rem;
    left: -2rem;
    background-color: #14a569;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.boxCloseEdit:hover{
    background-color: #12945e;
}

.boxCloseEdit img{
    width: 30px;
}

.produtosTypesMobile{
    display: none;
}

.modalTop{
    display: flex;
    flex-direction: column;
}

.modalTop h2{
    color: rgb(221, 3, 3);
}

@media(max-width: 1000px){
    .produtosTypes{
        width: 95%; 
    }

    table{
        width: 95%;
    }
}

@media(max-width: 840px){
    .produtosTypesMobile{
        display: flex;
    }

    thead tr{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.itemMobile{
    display: none;
} 

 @media(max-width: 840px){
    .produtosTypes{
        display: none;
    }

    .produtosTypesMobile{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        background-color: #0c7e4f;
        width: 95%;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .imgProdutosMob{
        position: absolute;
        top: 0;
        left: 0;
    }

    .imgProdutosMob img{
        width: 60px;
    }

    .boxAnimationIcon img{
        width: 30px;
    }

    .itemPadrao{
        background-color: #e4f0eb;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

    tbody{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .itemPadrao{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }

    .editProduct{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contentItemPadrao{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
    }

    .itemMobileTop{
        display: flex;
        justify-content: space-between;
    }

    .itemMobileTopRight{
        display: flex;
        flex-direction: column;
    }

    .itemMobileBottom{
        display: flex;
        justify-content: space-around;
    }    
} 

 @media(max-width: 450px){
    .contentItemPadrao td{
        font-size: 9pt;
    }
 }