.containerEstoque{
    background-color: gray;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxEstoque{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.produtosTypes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #14a569;
    color: white;
    height: 600px;
    padding: 3px;
    width: 300px;
    border-bottom-left-radius: 33px;
    border-top-left-radius: 33px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.produtosTypes h2{
    font-size: 15pt;
}

.produtosTypes img{
    width: 200px;
}

.produtosTypes ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.produtosTypes ul li{
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 12px;
}

.produtosTypes ul li:hover{
    cursor: pointer;
    background-color: #c4fae3;
    border-radius: 22px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

table{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom-right-radius: 33px;
    border-top-right-radius: 33px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 60%;
    color: #14a569;
    border-collapse: separate;
    border-spacing: 0 10px;
}


tbody{
    background-color: rgb(235, 235, 235);
}

tbody td{
    text-align: center;
    max-width: 70px;
    vertical-align: middle;
}

tbody tr td img{
    width: 140px;
}

.btnEditar{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #556402;
    color: #776e20;
    background-color: #ecfa6d;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}

.btnExcluir{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    background-color: #f5c4c4;
    cursor: pointer;
    transition: all 0.3s ease-in-out ;
}

.btnExcluir:hover, .btnEditar:hover{
    transform: scale(0.9);
}