.containerCarrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5rem;
}

.containerMotion{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrosselLancamentos{
    overflow: hidden;
    cursor: grabbing;
    padding: 2rem 1rem;
}

.containerCarrossel h1{
    margin-bottom: 4rem;
    font-family: poppins;
    color: #14a569;
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    border-bottom: 4px solid #68c8a0;
    border-radius: 1px;
}

.innerLancamentos{
    display: flex;
    gap: 2rem;
    width: fit-content;
}

.cardLancamentos{
    position: relative;
    width: 350px;
    display: flex;
    color: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    overflow: hidden;
}

.cardLancamentosTop img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.cardLancamentos:hover .cardLancamentosTop img{
    transform: scale(1.16);
}

.cardLancamentos:hover .contentCardLancamentos{
    opacity: 1;
    background: linear-gradient(180deg,#000000 0%, rgba(255,255,255,0) 80%);
}

.contentCardLancamentos{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-family: poppins;
    position: absolute;
    height: 100%;
    opacity: 0;;
}

.contentCardLancamentos h2{
    font-size: 15pt;
}

.contentCardLancamentos p{
    font-weight: 800;
    font-size: 13pt;
}

.contentCardLancamentos h3{
    width: fit-content;
    background-color: #14a569;
    padding: 0.3vw;
    border-radius: 30px;
    font-size: 10pt;
}

@media (max-width: 704px) {
    .cardLancamentos{
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 600px) {
    .cardLancamentos{
        width:210px;
        height: 210px;
    }
}

@media (max-width: 490px) {
    .cardLancamentos{
        width: 180px;
        height: 180px;
    }

    .contentCardLancamentos h2{
        font-size: 11pt;
    }

    .contentCardLancamentos p{
        font-size: 11pt;
    }

    .contentCardLancamentos h3{
        padding: 0.45rem;
    }

    .cardLancamentos:hover .contentCardLancamentos{
        opacity: 1;
        background: linear-gradient(180deg,#000000 0%, rgba(255,255,255,0) 140%);
    }
}

@media (max-width: 425px) {
    .cardLancamentos{
        width: 150px;
        height: 150px;
    }
}