.mainHome{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.containerHome{
    width: 100%;
}

.carrossel img{
    width: 100%;
}

.boxIntroHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

@media(max-width: 1132px){
    .boxIntroHome{
        justify-content: center;
    }
}

.carrosselHome{
    width: fit-content;
}

.carrossel{
    position: relative;
}

.carrosselMobile{
    display: none;
    position: relative;
}

.carrosselMobile img{
    width: 100%;
}

.carrosselHomeBottom{
    display: flex;
    gap: 0.2rem;
}

.carrosselHomeBottom img{
    max-width: 350px;
    height: 300px;
}

.carrosselHomeTop img{
    max-width: 703px;
}

.boxBtnsCarrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 1rem;
}

.btnBox {
    width: 20px;
    height: 20px;
    background-color: rgb(202, 202, 202);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btnBox.active{
    background-color: #d1ce20;
    transform: scale(1.12);
}

.boxTxtIntroHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
    margin-top: 4rem;
    position: relative;
    left: 5rem;
}

.boxTxtIntroHome h2{
    font-size: clamp(1.2rem, 5vw, 8rem);
}

.boxTxtIntroHome img{
    width: 250px;
}

.containerChuteirasHome{
    margin-top: 10rem;
    position: relative;
    min-height: 100vh;
}

.boxTxtChuteirasHome{
    max-width: 800px;
    font-family: poppins;
    padding: 3rem;
}

.boxTxtChuteirasHome h1{
    font-size: clamp(3rem, 5vw, 4rem);
    margin-bottom: 2rem;
    color: #14a569;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);

}

.boxTxtChuteirasHome p{
    line-height: 1.7;
    margin-top: 1rem;
}

.boxMarcasHome{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.boxMarcaItem{
    display: flex;
    position: relative;
    justify-content: start;
    cursor: pointer;
}

.boxMarcaItem img{
    width: 200px;
}

.boxMarcaItem span{
    position: absolute;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #14a569;
    color: white;
    border-radius: 30px;
    box-shadow: 4px 8px 12px rgba(0,0,0,0.6);
}

.boxMarcaItem:hover span {
    opacity: 1;
}


.elementChuteirasHome{
    background: radial-gradient(circle farthest-corner at center center, #14a569 0%, #4cc14c 80%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    right: -20rem;
    z-index: 1;
}

.chuteirasHomeBanner{
  max-width: 1000px;
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: 1;
}

.containerCamisasHome{
    display: flex;
    justify-content: end;
    position: relative;
    min-height: 100vh;
}

.elementCamisasHome{
    background: radial-gradient(circle farthest-corner at center center, #14a569 0%, #4cc14c 80%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: -20rem;
}

.camisasHomeBanner{
    position: absolute;
    top: 4rem;
    left: 0;
}

.boxTxtCamisasHome{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.boxTxtCamisasHome{
    max-width: 800px;
    font-family: poppins;
    padding: 3rem;
}

.boxTxtCamisasHome h1{
    font-size: clamp(3rem, 5vw, 4rem);
    margin-bottom: 2rem;
    color: #14a569;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);

}

.boxTxtCamisasHome p{
    line-height: 1.7;
    margin-top: 1rem;
}

.boxLigaHome{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.boxLigaItem{
    display: flex;
    position: relative;
    justify-content: start;
    cursor: pointer;
}

.boxLigaItem img{
    max-width: 200px;
}

.boxLigaItem span{
    position: absolute;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #14a569;
    color: white;
    border-radius: 30px;
    box-shadow: 4px 8px 12px rgba(0,0,0,0.6);
}

.boxLigaItem:hover span {
    opacity: 1;
}

.boxBannerIntro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.bannerBox{
    position: relative;
}

.bannerContent{
    position: absolute;
    top: 18rem;
    left: 5.5rem;
}

.bannerContent button{
    padding: 0.5rem;
    width: 180px;
    font-family: poppins;
    font-size: 13pt;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    color: #14a569;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    transition: all 0.3s ease-in-out;
}

.bannerContent button:hover{
    background-color: #14a569;
    color: white;
    transform: scale(0.96);
}

@media (max-width: 620px){
    .carrossel{
        display: none;
    }

    .carrosselMobile{
        display: block;
    }

    .bannerBox img{
        width: 400px;
    }

    .bannerContent{
        top: 9rem;
        left: 2.6rem;
    }

    .bannerContent button{
        width: 100px;
        padding: 0.3rem;
        font-size: 8pt;
    }
}

@media (max-width: 420px){
    .bannerBox img{
        width: 340px;
    }

    .bannerContent{
        top: 8rem;
    }
}