*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    font-family: poppins;
    color: #14a569;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.containerHeader{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navList ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navList ul li span:visited{
    color: inherit;
}

.navList ul li span{ 
    font-size: 14pt;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.navList ul li span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #14a569;
    transition: width 0.3s ease;
}

.navList ul li span:hover::after{
    width: 100%;
}

.link{
    text-decoration: none;
    color: #14a569;
}

.logoBox img{
    width: 90px;
}

.boxIconsHeader{
    display: flex;
    gap: 2rem;
}

.boxCarrinho{
    transition: all 0.3s ease-in-out;
}

.boxCarrinho:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.profileIcon{
    width: 35px;
}

.cartIcon{
    width: 38px;
    margin-top: 0.4rem;
}

.boxCadastro{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.profileInfo{
    position: absolute;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    animation: fadeIn 0.2s forwards;
    transform: translateX(-50%) translateY(-10px);
    color: white;
    top: 3rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 22px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    z-index: 10;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
  }
}

.userInfos{
    display: flex;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
    cursor: pointer;
}

.userInfos:hover{
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    border-radius: 22px;
}

.profileInfo img{
    width: 30px;
}

.linkProfile:visited{
    text-decoration: none;
    color: #ffffff;
}

.boxInputSearch{
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    background-color: #ffffff;
    border: 10px solid #14a569;
    width: 450px;
    border-radius: 33px;
    padding: 0.6rem;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.boxInputSearch img{
    width: 30px;
    padding: 0.2rem;
    border-radius: 22px;
    cursor: pointer;
    background-color: #14a569;
    transition: all 0.3s ease-in-out;
}

.boxInputSearch img:hover{
    transform: scale(1.8);
}

.boxInputSearch input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
}

.boxHeaderBottom{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    color: white;
    width: 100%;
}

.boxCarrinhoExpandend{
    background-color: #024069ed;
    width: 300px;
    padding: 0 1rem;
    border-radius: 80px;
    position: fixed;
    overflow: hidden;
    max-height: 120px;
    transition: max-height 0.5s ease,  width 0.5s ease;
    z-index: 2;
    top: 1rem;
    left: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

.containerCarrinho{
    width: 100%;
    display: flex;
    justify-content: end;
    font-family: poppins;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    animation: fadeIn 0.3s ease-in-out;
}

.carrinhoBox{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.carrinhoTop{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);;
}

.carrinhoLeftTop{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.carrinhoRightTop{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: border ease-in-out ;
    padding: 0.2rem;
}

.carrinhoRightTop:hover{
    border: 1.6px solid red;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}


.carrinhoLeftTop img{
    width: 40px;
}

.carrinhoRightTop img{
    width: 30px;
}

.itemStart img{
    width: 150px;
}

.carrinhoContent{
    padding: 1rem;
    height: 100%;
}

.carrinhoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    padding: 0.8rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(240, 255, 249);
}

.itemStart{
    display: flex;
    align-items: center;
}

.itemDetails h2{
    color: #14a569;
}

.itemDetailsBottom{
    display: flex;
    gap: 2rem;
}

.itemQuant h3{
    font-size: 10pt;
    font-weight: 400;
    color: rgb(255, 0, 0);
}

.itemPrice h2{
    color: #14a569;
}

.boxRightCarrinho{
    display: flex;
    gap: 5rem;
}

.carrinhoBottom{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.carrinhoBottom button{
    height: fit-content;
    padding: 1rem;
    border-radius: 33px;
    width: 200px;
    border: none;
    color: #14a569;
    font-family: poppins;
    font-weight: 800;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.carrinhoBottom button:hover{
    transform: scale(0.95);
}

@media (max-width: 620px){
    header{
        display: none;
    }

    main{
        padding-top: 50px;
    }
}

.headerMobile{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.logoMobile{
    width: 80px;
}

.menuIcon{
    width: 60px;
}

.containerHeaderMobile{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transition: max-height 0.5s ease,  width 0.5s ease;
    animation: fadeIn 0.3s ease-in-out;
    width: 80%;
}

.boxHeaderMobile{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.boxLogoMobile{
    display: flex;
    justify-content: center;
}

.boxLogoMobile img{
    width: 150px;
}

.valorTotal{
    color: white;
}

.navListMobile ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    font-family: poppins;
}

.navListMobile ul li span:visited{
    color: inherit;
}

.navListMobile ul li span{ 
    font-size: 14pt;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.navListMobile ul li span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #14a569;
    transition: width 0.3s ease;
}

.navListMobile ul li span:hover::after{
    width: 100%;
}

.link{
    text-decoration: none;
    color: #14a569;
}

.boxUserMobile{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.boxUserItem{
    display: flex;
    align-items: center;
    font-family: poppins;
    font-size: 8pt;
    color: #14a569;
    padding: 1rem;
    gap: 2rem;
    border-radius: 33px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.boxUserItem img{
    width: 35px;
}

.userMenu button{
    margin-top: 1rem;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: #14a569;
    cursor: pointer;
    transition: all 0.3s ease;
}

.userMenu button:hover{
    transform: scaleX(-10px);
}

@media(max-width: 1464px){
    .itemDetails h2{
        max-width: 300px;
    }
}

@media(max-width: 1150px){
    .carrinhoBox{
        width: 100%;
    }
}

@media(max-width: 768px){
    .itemStart img{
        width: 100px;
    }

    .itemDetails h2{
        font-size: 12pt;
    }

    .itemDetailsBottom{
        font-size: 8pt;
    }

    .itemQuant{
        font-size: 8pt;
    }

    .itemPrice{
        font-size: 8pt;
    }
}

@media(max-width: 600px){
    .carrinhoItem{
        display: flex;
        flex-direction: column;
    }

    .boxRightCarrinho{
        display: flex;
        gap: 5rem;
        align-items: center;
    }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

