footer{
    font-family: poppins;
    width: 100%;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 39px -3px rgba(0,0,0,0.75);
    margin-top: 10rem;
}

.footerBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

.footerTop{
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
}

.footerTop img{
    width: 200px;
    border-radius: 50%;
}

.footerList ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.footerList ul li span{ 
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    cursor: pointer;
    position: relative;
    color: white;
}

.footerList ul li span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.footerList ul li span:hover::after{
    width: 100%;
}

.footerBox p{
    color: white;
}