.boxProduto{
    display: flex;
}

.imgsProduto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsProduto img{
    max-width: 600px;
    overflow: hidden;
}

.produtoInfos{
    width: 50%;
    padding: 1rem 2rem;
    font-family: poppins;
}

.produtoInfos h1{
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 1rem;
    color: #14a569;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.produtoInfos p{
    line-height: 1.7;
}

.boxSizes{
    margin-top: 3rem;
}

.size{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.sizeItem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sizeItem:hover{
    transform: scale(0.95);
    color: #14a569;
}

.sizeItem h3{
    font-size: 15pt;
}

.btnCarrinho{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin-top: 5rem;
    border-radius: 33px;
    border: none;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    font-family: poppins;
    color: white;
    font-weight: 600;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
}

.btnCarrinho:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.btnCarrinho img{
    width: 35px;
}

.produtoCategorias{
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}

.produtoCategorias h4{
    width: fit-content;
    background: linear-gradient(90deg,#14a569 0%, #1e745e 80%);
    padding: 0.5rem;
    color: white;
    border-radius: 30px;
    font-size: 10pt;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.boxPrices{
    margin-top: 1rem;
}

.precoProduto{
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 700;
    color: #14a569;
}

@media (max-width:1434px){
    .imgsProduto img{
        max-width: 450px;
    }
}

@media(max-width: 900px){
    .boxProduto{
        flex-direction: column;
    }

    .imgsProduto{
        width: 100%;
    }

    .produtoInfos{
        width: 100%;
    }
}


