.mainAdmin{
    padding-top: 200px;
}

.txtAdmin{
    font-family: poppins;
}

.txtAdmin h2 span{
    color: #14a569;
}

.txtAdmin h1 span{
    color: #14a569;
    border-bottom: 3px solid #14a569;
}

.containerAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    margin-top: 4rem;
}

.boxMenuAdmin{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.adminItem{
    background-color: #14a569;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.adminItem:hover{
    transform: scale(1.04);
}

.adminItem p{
    font-size: 13pt;
    font-family: poppins;
}

.adminItem img{
    width: 40px;
}

.containerFormCamisas{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 22px;
    width: fit-content;
    padding: 2rem;
    position: absolute;
    top: 10rem;
    right: 0;
    z-index: 10;
    background-color: white;
}

.containerFormTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    font-size: 10pt;
    color: #14a569;
    border-bottom: 3px solid #14a569;
    position: relative;
}

.containerFormTop img{
    width: 40px;
    cursor: pointer;
}

.boxFormCamisas{
    padding: 1rem;
}

.boxFormCamisas form{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: fit-content;
    width: 400px;
    padding: 2rem;
    font-family: poppins;
    border: 2px solid #14a569;
    border-radius: 22px;
    color: #14a569;
}

.boxFormCamisas form input{
    width: 300px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 22px;
    border: 1px solid #14a569;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.boxMenuAdmin form label{
    display: flex;
    flex-direction: column;
}

.boxFormCamisas form button{
    width: 90%;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 22px;
    border: none;
    color: white;
    background-color: #14a569;
    font-weight: 700;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.boxFormCamisas p{
    font-size: 10pt;
    font-weight: 700;
    text-align: left;
}

.boxFormCamisas form select{
    width: 300px;
}

.boxClose{
    position: absolute;
    top: -4rem;
    left: -3.5rem;
    background-color: #14a569;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.boxClose:hover{
    background-color: #12945e;
}

.boxClose img{
    width: 30px;
}